.analysis-text-input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid var(--Components-Modal-Border, rgba(0, 0, 0, 0.20));
}

.header-analysis-text-input {
    display: flex;
    padding: 16px;
    gap: 7px;
    color: #2A318A;
    font-size: 20px;
    align-items: center;
}

.content-analysis-text-input {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
hr {
    border: 1px solid rgba(104, 104, 104, 0.2);
}
