aside {
    background-color: white;
    padding: 48px 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 4px 0px 28px 0px rgba(217, 222, 240, 0.98);
}

.top-aside {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.aside-nav-bar {
    display: flex;
    flex-direction: column;
    gap: 16px;
}