.back-button {
    width: 29px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #2A318A;
    border-radius: 5px;
    transition: 0.3s;
}

.back-button:hover {
    background-color: #ecedf5;
}