@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background: var(--Background-Caoba, linear-gradient(180deg, #FFF 0%, #F0F3FF 71.22%));
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0px 50px;
  margin-left: 360px;
  margin-bottom: 60px;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  background: var(--Background-Caoba, linear-gradient(180deg, #FFF 0%, #F0F3FF 71.22%));
}

#first-section {
  display: flex;
  margin-top: 30px;
  gap: 50px;
}

.first-section-article {
  display: flex;
  flex-direction: column;
  width: 65%;
  gap: 30px;
}

.badges-container {
  display: flex;
  gap: 20px;
}

.first-section-article p {
  font-size: 13px;
  font-weight: 400;
  color: #575757;
}